.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 300px;
  color: white;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name {
  font-size: 20px;
}

.fighter-preview___img--right {
  transform: scaleX(-1);
}
